@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');


.title {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    transition: 1s;
}

.title:hover {
    transition: 1s;
    filter: drop-shadow(0px 0px 5px rgb(255, 0, 255));
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/black.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
}

.bandeira{
    margin-top: -10px;
   
}

.bandeira-right{
    margin-top: -10px; 
    transform: rotate(40deg) scale(1.2);
}
.bandeira-left{
    margin-top: -10px; 
    transform: rotate(-40deg) scale(1.2);
}

.logo {
    margin-top: -200px;
    text-align: center;
    transition: 1s;
    margin-left: 500px;
    position: relative;
    /* position: sticky;
    top: 100px; */
}

.logo:hover {
    transform: scale(1.1);
    transition: 1s;
    /* transform: translateX(520px); */
    transition: 1s;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
    filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
}

.subslide {
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}

.carousel-item {
    text-align: center;
}

.d-block {
    transition: 1s;
    transform: scale(1.6);
}

.shop {
    -webkit-text-fill-color: purple;
}

.text1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: 73px;
    margin-top: -30px;
    z-index: -100;
}

.text2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: 350px;
    margin-top: -40px;
}

.text3 {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: 870px;
    margin-top: -40px;
}

.text4 {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: 1140px;
    margin-top: -40px;
}

/* ÍCONES */

.icon1 {
    margin-top: 100px;
    margin-left: 90px;
    transition: 1s;
    z-index: 1000;
}

.icon1:hover {
    transform: scale(1.5);
    /* transform: rotate(360deg); */
    transition: 1s;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(183, 0, 255));
    filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
}

.icon2 {
    margin-top: 100px;
    margin-left: 200px;
    transition: 1s;
}

.icon2:hover {
    transform: scale(1.5);
    /* transform: rotate(360deg); */
    transition: 1s;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
    filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
}

.icon3 {
    margin-top: 100px;
    margin-left: 690px;
    transition: 1s;
}

.icon3:hover {
    transform: scale(1.5);
    /* transform: rotate(360deg); */
    transition: 1s;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
    filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
}

.icon4 {
    margin-top: -100px;
    margin-left: 890px;
    transition: 1s;
}

.icon4:hover {
    transform: scale(1.5);
    /* transform: rotate(360deg); */
    transition: 1s;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
    filter: drop-shadow(0px 0px 15px rgb(255, 0, 255));
}

.list {
    z-index: -1;
}

.hide {
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
    transition: 1s;
    position: relative;
}

.hide:hover {
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
    transform: translateY(-50px);
    transition: 1s;
}

.slide {
    box-shadow: 0px 0px 15px rgba(255, 0, 255, 0.185);
    transition: 1s;
}

.slide:hover {
    box-shadow: 0px 0px 15px rgb(255, 0, 255);
    transition: 1s;
}

/* cards */

.card {
    transform: scale(0.9);
    transition: 1s;
    border-color: rgb(255, 0, 191);
}

.card:hover {
    transform: scale(0.95);
    transition: 1s;
    border-color: rgb(255, 0, 191);
}

.card-body {
    background-color: black;
    border-color: rgb(255, 0, 191);
}

.card-text {
    color: white;
}

.card-title {
    color: rgb(185, 185, 185);
}

/* MENU */

label {
    padding: 15px;
    position: fixed;
    z-index: 90;
    transition: 1s;
}

.item {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px 5px;
    text-align: center;
    transition: 0.5s;
    z-index: 20;
}

.item:hover {
    display: block;
    transition: 0.5s;
    background-color: rgb(248, 248, 248);
    text-decoration: none;
    color: black;
    transform: translateX(30px);
    z-index: 20;
}

ul {
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
    z-index: 20;
}

input[type="checkbox"] {
    display: none;
    transition: 1s;
    z-index: 20;
}

input[type="checkbox"]:checked~nav {
    transform: translateX(350px);
    transition: 1s;
    z-index: 20;
}

.bi {
    transition: 1s;
}

.bi:hover {
    transform: rotate(360deg);
    -webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
    transition: 1s;
    border-radius: 25%;
}

.remi {
    transform: scale(1.1);
}

/* BARRA */

nav {
    background-color: rgba(16, 16, 16, .5);
    width: 390px;
    height: 100%;
    position: fixed;
    transition: 1s;
    left: -390px;
    z-index: 20;
}

.menu {
    position: relative;
    align-content: center;
    text-align: center;
    border-radius: 100%;
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgb(255, 0, 255);
    z-index: 20;
}

.menu:hover {
    position: relative;
    align-content: center;
    text-align: center;
    transform: scale(1.3);
    transform: rotate(360deg);
    border-radius: 15%;
    transition: 0.5s;
    box-shadow: 0px 0px 50px rgba(2, 2, 2, 0.883);
    z-index: 20;
}

/*FIM DO MENU */

/*CARROSSEL*/

/* Make the image fully responsive */

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237a7a7a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237a7a7a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}